@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply min-h-screen mx-auto px-5 sm:max-w-lg md:max-w-xl lg:max-w-5xl dark:bg-gradient-to-tl from-black to-slate-900;
    }
}

@layer utilities {
  * {
    scrollbar-width: thin;
    scrollbar-color: #9CA3AF transparent;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 5px;
  }
}
